<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Oswald&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/contactStyle.css">

</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/images/dance_logo1.jpg" alt=""> HDA
            </div>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Class info</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Contact us</h1>
        <form action="/contact" class="myform" method="post">
            <input type="name"  name="name"   class="myinput"    placeholder="Enter your name " >
            <input type="email" name="email"  class="myinput"    placeholder="Enter your email id " >
            <input type="phone" name="phone"  class="myinput"    placeholder="Enter your phone no" >
            <input type="address" name="address" class="myinput" placeholder="Enter your address " >
            <input type="desc"   name="desc"    class="myinput"  placeholder="Description " >

            <button class="btn">Submit</button>
        </form>
    </div>















    <footer id="footer">
        | Copyright &copy 2023 SnehalDanceAcademy.com | All rights reserved!
        



    </footer>



