<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Oswald&display=swap" rel="stylesheet">


</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/images/dance_logo1.jpg" alt=""> HDA
            </div>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Class info</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>

    <section id="introsection">
        <div> Welcome  to  Snehal's  Dance  Academy </div>
        <div id="small">Eat Sleep Dance Repeat</div>
    </section>

    <section id="ourmission">
        <h2>Our Mission</h2>
        <div class="card">
            <h3>Dance perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images/dance_1.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>This is best dance adcdemy of the universe</p>
                </div>

            </div>

        </div>
        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images/dance_2.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>This is best dance adcdemy of the universe</p>
                </div>

            </div>
        </div>
        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="/static/images/dance_3.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>This is best dance adcdemy of the universe</p>
                </div>

            </div>
        </div>
    </section>

    <section id="sponsorsection">
        <h2>Our Sponsors</h2>
        <div id="sponsors">
            <img src="/static/images/sponsor_logo1.jpg" alt="sponsor image" class="sponser_image">
            <img src="/static/images/sponsor_logo2.jpg" alt="sponsor image" class="sponser_image">
            <img src="/static/images/sponsor_logo3.jpg" alt="sponsor image" class="sponser_image">
            <img src="/static/images/sponsor_logo5.jpg" alt="sponsor image" class="sponser_image">
            

        </div>

    </section>

    <footer id="footer">
        | Copyright &copy 2023 SnehalDanceAcademy.com | All rights reserved!
        



    </footer>

</body>

</html>